* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
}

h3 {
    text-decoration: underline;
}

p {
    font-style: italic;
}

img {
    margin: 0; 
    padding: 0;
    height: 400px;
    width: 300px;
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px navy;
}

#searchbarForm {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

#searchbar {
    font-weight: 700;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    text-align: start;
}

#searchbar:hover {
    border: 2px, solid, rgb(5, 5, 5);
}

#searchbarBTN {
    border: 1px, solid, rgb(5, 5, 5);
    border-radius: 10px;
    cursor: pointer;
}

#searchbarBTN:hover {
    background-color: rgb(104, 142, 170);
}

#btnContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 2rem 0 1rem 0;
}

#btnContainer button {
    width: 8rem;
    height: 50px;
    border: 1px, solid, rgb(5, 5, 5);
    border-radius: 5px;
    cursor: pointer;
}

#btnContainer button:hover {
    background-color: rgb(104, 142, 170);
}

.popularBtnActive {
    text-decoration: underline;
    background-color: rgb(116, 147, 170);
}

.ratedBtnActive {
    text-decoration: underline;
    background-color: rgb(116, 147, 170);
}

#top10MovieDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

#movieDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

#movieDiv h5 {
    width: 23vw;
}

#popularMovieText {
    font-weight: 700;
    text-align: center;
}

#ratedMovieText {
    font-weight: 700;
    text-align: center;
}

#peopleDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 4rem;
}

#errorMessage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}
